.carousel-item img {

    height: 500px;  
    object-fit: cover;  
} 
  
  
  .card {
  
    height: 100%; 
    transition: 0.3s;  
  }

  .card:hover {

    transform: translateY(-5px);  
  }

footer{
    text-align: center;
}